%header 
	= image_tag "logo.png", class: 'logo'
	.square	
		%h1
			The way flavor is done in Tuscany	
		%hr
		=	 image_tag	"bottle-img.png", class: 'img-square'
		%p
			HIGH-QUALITY SPIRITS CRAFTED WITH TRADITION SINCE 1880.
/ .content
/ 	.history
/ 		.img
/ 		.img
/ 	.bottles

/ 	%footer
/ 		.contact
/ / = form_with do |form|
/ / = form.text_field 
/ / = form.sumit
